a {
    text-decoration: none;
}

h3 {
    margin-bottom: 1rem;
    padding: 1rem;
}

article {
    margin-bottom: 4rem;
    padding: 2rem;
}

header a h1 {
    text-align: center;
    text-decoration: none;
    margin: 2rem 0 0 0;
}

article h2 {
    padding: 2rem 0;
}

article {
    background-color: #E4E6E8;
}

footer {
    text-align: center;
}

img {
    max-width: 100%;
    object-fit: contain;
}

div.ytp-cued-thumbnail-overlay,
#player {
    overflow: hidden;
}

iframe {
    max-width: 100%;
}

article a {
    word-wrap: break-word;
}